@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-animation {
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(-100%) skewX(-20deg); }
  100% { transform: translateX(200%) skewX(-20deg); }
}